.btn-margin .button {
	margin: 10px 0;
}
img.image {
	max-width: 100%;
	margin:10px auto;
	display: block;
}
/* A bit of demo styles */;
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
/* home */
.bg0 {
  background-image: url('../img/bg0.jpg');
  background-size: cover;
}
/* learn */
.bg1 {
  background-image: url('../img/bg1.jpg');
  background-size: cover;
}
/* menu */
.bg2 {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
}
.bg3 {
  background-image: url('../img/bg3.jpg');
  background-size: cover;
}
/* summary */
.bg4 {
  background-image: url('../img/bg4.jpg');
  background-size: cover;
}
/* about */
.bg5 {
  background-image: url('../img/bg5.jpg');
  background-size: cover;
}
/* formula  */
.bg6 {
  background-image: url('../img/bg6.jpg');
  background-size: cover;
}
.bg7 {
  background-image: url('../img/bg7.jpg');
  background-size: cover;
}
.bg8 {
  background-image: url('../img/bg8.jpg');
  background-size: cover;
}
.img-button {
  position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    border:none;
    height:50px;
    line-height: 50px;
    
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 30px auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
  
}

.quiz label {
  display: block;
  padding: 8px 5px
}

.quiz input[type="radio"] {
  margin-right:10px;
}

.content-block, .list-block, .content-block-title {
  margin-top:55px;
}

.quizQ label {
  border-top:1px solid #ddd;
}

.quizQ label:last-child {
  border-bottom:1px solid #ddd;
}
